<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>接口测试</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="top">
        <h2>接口测试 / <a href="/secret">接口测试2</a> / <a href="/interface">接口测试3</a></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">命令标识:</label>
                <input type="text" class="form-control" id="cmd">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">服务器地址:</label>
                <input type="text" class="form-control" id="val">
            </div>
            <button type="button" class="btn btn-default" onclick="ConfigParameters()">配置参数接口</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">命令标识:</label>
                <input type="text" class="form-control" id="get-cmd">
            </div>
            <button type="button" class="btn btn-default" onclick="GetParameters()">获取配置参数接口</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">二维码图片内容:</label>
                <input type="text" class="form-control" id="img-content">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">二维码图片存放路径（图片格式为png）:</label>
                <input type="text" class="form-control" id="img-path">
            </div>
            <button type="button" class="btn btn-default" onclick="RCode()">请求二维码接口</button>
        </div>
    </div>

    <button type="button" class="btn btn-default" onclick="Transid()">获取流水号接口</button>
    <button type="button" class="btn btn-default" onclick="GetUserList()">获取证书列表接口</button>
    <button type="button" class="btn btn-default" onclick="GetCertBase64String()">获取数字证书接口</button>
    <button type="button" class="btn btn-default" onclick="GetCertInfo()">获取证书信息接口</button>
    <button type="button" class="btn btn-default" onclick="CertLogin()">证书口令验证接口</button>
    <button type="button" class="btn btn-default" onclick="GetPinRetryCount()">获取密码重试剩余次数接口</button>
    <button type="button" class="btn btn-default" onclick="VerifyIdentity()">验证证书有效性接口</button>
    <button type="button" class="btn btn-default" onclick="KeyGetKeySn()">获取证书用户标识接口</button>
    <button type="button" class="btn btn-default" onclick="changePwd()">修改证书口令接口</button>
    <!--模态弹出框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="mymodel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="text">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-success" id="text1"></h4>
                    <h4 class="text-success" id="text2"></h4>
                    <h4 class="text-success" id="text3"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function JudgeCode(res){
        $("#text1").html("code:"+res.code);
        $("#text2").html("msg:"+res.msg);
        $("#text3").html("data:"+res.data);
    }
    function ConfigParameters(){
        $.ajax({
            url:"/RS_ConfigParameters",
            type:"get",
            data:{
                cmd:$("#cmd").val(),
                val:$("#val").val(),
            },
            success:function(res){
                $("#text").html("3.2.1.1.参数配置接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function GetParameters(){
        $.ajax({
            url:"/RS_GetParameters",
            type:"post",
            data:{
                cmd:$("#get-cmd").val(),
            },
            success:function(res){
                $("#text").html("3.2.1.2.获取配置参数接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function RCode(){
        $.ajax({
            url:"/RS_GreateQRCode",
            type:"post",
            data:{
                qrcode:$("img-content").val(),
                path:$("img-path").val()
            },
            success:function(res){
                $("#text").html("3.2.1.4.生成二维码图片接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function Transid(){
        $.ajax({
            url:"/RS_GetTransid",
            type:"post",
            data:{
                joinCode:"123142",
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function GetUserList(){
        $.ajax({
            url:"/RS_GetUserList",
            type:"get",
            data:{
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function GetCertBase64String(){
        $.ajax({
            url:"/RS_GetCertBase64String",
            type:"post",
            data:{
                certType:"1",
                containerId:"123142"
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function GetCertInfo(){
        $.ajax({
            url:"/RS_GetCertInfo",
            type:"post",
            data:{
                certBase64:"123142",
                type:"1",
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function CertLogin(){
        $.ajax({
            url:"/RS_CertLogin",
            type:"post",
            data:{
                containerId:"123142",
                password:"1",
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function GetPinRetryCount(){
        $.ajax({
            url:"/RS_GetPinRetryCount",
            type:"post",
            data:{
                containerId:"123142"
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function changePwd(){
        $.ajax({
            url:"/RS_ChangePassWd",
            type:"get",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function VerifyIdentity(){
        $.ajax({
            url:"/RS_VerifyIdentity",
            type:"post",
            data:{
                certBase64:"123",
                authNoL:""
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }



    function KeyGetKeySn(){
        $.ajax({
            url:"/RS_KeyGetKeySn",
            type:"get",
            data:{
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
</script>
</html>
