<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>接口测试</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <div class="top">
        <h2><a href="/">接口测试</a> / <a href="/secret">接口测试2</a> / 接口测试3</h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="signed" class="control-label">待签名原文，若signdMsg带原文，则该参数为空:</label>
                <input type="text" class="form-control" id="signed">
            </div>
            <div class="form-group">
                <label for="sign" class="control-label">签名值，P7签名:</label>
                <input type="text" class="form-control" id="sign">
            </div>
            <div class="form-group">
                <label for="Identification" class="control-label">是否带原文的标识，1:不带原文;0:带原文:</label>
                <input type="text" class="form-control" id="Identification">
            </div>
            <button type="button" class="btn btn-default" onclick="VerifySignByP7()">P7验签</button>
        </div>
    </div>

    <button type="button" class="btn btn-default" onclick="KeyDigitalSignByP1()">P1签名（域签）</button>
    <button type="button" class="btn btn-default" onclick="VerifyDigitalSignByP1()">P1验签（域签）</button>
    <button type="button" class="btn btn-default" onclick="KeySignByP1()">P1签名</button>
    <button type="button" class="btn btn-default" onclick="VerifySignByP1()">P1验名</button>
    <button type="button" class="btn btn-default" onclick="KeySignByP7()">P7签名</button>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="mymodel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="text">Modal title</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-success" id="text1"></h4>
                <h4 class="text-success" id="text2"></h4>
                <h4 class="text-success" id="text3"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    function JudgeCode(res){
        $("#text1").html("code:"+res.code);
        $("#text2").html("msg:"+res.msg);
        $("#text3").html("data:"+res.data);
    }
    function VerifySignByP7(){
        $.ajax({
            url:"/RS_VerifySignByP7",
            type:"post",
            data:{
                msg:$("#signed").val(),
                signdMsg:$("#sign").val(),
                flag:$("#Identification").val()
            },
            success:function(res){
                $("#text").html("3.2.1.3.P7验签接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyDigitalSignByP1(){
        $.ajax({
            url:"/RS_KeyDigitalSignByP1",
            type:"post",
            data:{
                asn1Msg:"123",
                containerId:"cvaw",
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function VerifyDigitalSignByP1(){
        $.ajax({
            url:"/RS_VerifyDigitalSignByP1",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeySignByP1(){
        $.ajax({
            url:"/RS_KeySignByP1",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }

    function VerifySignByP1(){
        $.ajax({
            url:"/RS_KeyVerifySignByP1 ",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeySignByP7(){
        $.ajax({
            url:"/RS_KeySignByP7",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
</script>
</html>
