<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>接口测试</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <h1>接口测试2</h1>
    <a href="/"><h3>接口测试1</h3></a>
    <a href="/interface"><h3>接口测试3</h3></a>
    <button type="button" class="btn btn-default" onclick="EncryptFile()">对称加密</button>
    <button type="button" class="btn btn-default" onclick="DevryptFile()">对称解密</button>
    <button type="button" class="btn btn-default" onclick="KeyEncryptData()">非对称加密</button>
    <button type="button" class="btn btn-default" onclick="KeyDecryptData()">非对称解密</button>
    <button type="button" class="btn btn-default" onclick="KeyEncryptByDigitalEnvelope()">数字信封加密</button>
    <button type="button" class="btn btn-default" onclick="KeyDecryptByDigitalEnvelope()">数字信封解密</button>
</div>
<div style="margin-top: 50px">
    <h3 class="text-success" id="text1"></h3>
    <h3 class="text-success" id="text2"></h3>
    <h3 class="text-success" id="text3"></h3>
    <img id="img-show">
</div>

</body>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    function JudgeCode(res){
        $("#text1").html("code:"+res.code);
        $("#text2").html("msg:"+res.msg);
        $("#text3").html("data:"+res.data);
        $("#img-show").attr("src","");
    }
    function EncryptFile(){
        $.ajax({
            url:"/RS_EncryptFile",
            type:"post",
            data:{
                souceFilePath:"123",
                encFilePath:"123"
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function DevryptFile(){
        $.ajax({
            url:"/RS_DevryptFile",
            type:"post",
            data:{
                rsKey:"123",
                encFilePath:"zcxv",
                dncDirectoryPath:"adsf"
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyEncryptData(){
        $.ajax({
            url:"/RS_KeyEncryptData",
            type:"post",
            data:{
                rsKey:"123",
                certBase64:"zcxv"
            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyDecryptData(){
        $.ajax({
            url:"/RS_KeyDecryptData",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyEncryptByDigitalEnvelope(){
        $.ajax({
            url:"/RS_KeyEncryptByDigitalEnvelope",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyDecryptByDigitalEnvelope(){
        $.ajax({
            url:"/RS_KeyDecryptByDigitalEnvelope",
            type:"post",
            data:{

            },
            success:function(res){
                JudgeCode(res);
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
</script>
</html>
