<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>接口测试</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <div class="top">
        <h2><a href="/">接口测试</a> / 接口测试2 / <a href="/interface">接口测试3</a></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">待加密文件路径，带文件名:</label>
                <input type="text" class="form-control" id="surEncryption">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">加密后文件保存路径，带文件名:</label>
                <input type="text" class="form-control" id="encryption">
            </div>
            <button type="button" class="btn btn-primary" onclick="EncryptFile()">对称加密</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">对称密钥原文:</label>
                <input type="text" class="form-control" id="symmetricKey">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">加密文件路径，带文件名:</label>
                <input type="text" class="form-control" id="encryption2">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">解密后文件保存路径，带文件名:</label>
                <input type="text" class="form-control" id="decryptedFiles">
            </div>
            <button type="button" class="btn btn-primary" onclick="DevryptFile()">对称解密</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="rsKey" class="control-label">待加密明文，32位长度:</label>
                <input type="text" class="form-control" id="rsKey">
            </div>
            <div class="form-group">
                <label for="certBase64" class="control-label">证书base64编码:</label>
                <input type="text" class="form-control" id="certBase64">
            </div>
            <button type="button" class="btn btn-primary" onclick="KeyEncryptData()">非对称加密</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="encRsKey" class="control-label">待解密的密文:</label>
                <input type="text" class="form-control" id="encRsKey">
            </div>
            <button type="button" class="btn btn-primary" onclick="KeyEncryptData()">非对称解密</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="souceFilePath" class="control-label">原文路径，带文件名:</label>
                <input type="text" class="form-control" id="souceFilePath">
            </div>
            <div class="form-group">
                <label for="encFilePath" class="control-label">加密后的密文保存路径，带文件名:</label>
                <input type="text" class="form-control" id="encFilePath">
            </div>
            <div class="form-group">
                <label for="certBase" class="control-label">证书base64编码:</label>
                <input type="text" class="form-control" id="certBase">
            </div>
            <button type="button" class="btn btn-primary" onclick="KeyEncryptByDigitalEnvelope()">数字信封加密</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="encFilePath2" class="control-label">要解密的文件路径，带文件名:</label>
                <input type="text" class="form-control" id="encFilePath2">
            </div>
            <div class="form-group">
                <label for="dncDirectory" class="control-label">解密后文件保存路径，不带文件名:</label>
                <input type="text" class="form-control" id="dncDirectory">
            </div>
            <div class="form-group">
                <label for="encRsKeyPath" class="control-label">对称密钥信息文件路径，带文件名:</label>
                <input type="text" class="form-control" id="encRsKeyPath">
            </div>
            <button type="button" class="btn btn-primary" onclick="KeyDecryptByDigitalEnvelope()">数字信封解密</button>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" id="mymodel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="text">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-success" id="text1"></h4>
                    <h4 class="text-success" id="text2"></h4>
                    <h4 class="text-success" id="text3"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    function JudgeCode(res){
        $("#text1").html("code:"+res.code);
        $("#text2").html("msg:"+res.msg);
        $("#text3").html("data:"+res.data);
    }
    function EncryptFile(){
        $.ajax({
            url:"/RS_EncryptFile",
            type:"post",
            data:{
                souceFilePath:$("#surEncryption").val(),
                encFilePath:$("#encryption").val()
            },
            success:function(res){
                $("#text").html("3.2.1.6.对称加密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function DevryptFile(){
        $.ajax({
            url:"/RS_DevryptFile",
            type:"post",
            data:{
                rsKey:$("#symmetricKey").val(),
                encFilePath:$("#encryption2").val(),
                dncDirectoryPath:$("#decryptedFiles").val()
            },
            success:function(res){
                $("#text").html("3.2.1.7.对称解密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyEncryptData(){
        $.ajax({
            url:"/RS_KeyEncryptData",
            type:"post",
            data:{
                rsKey:"123",
                certBase64:"zcxv"
            },
            success:function(res){
                $("#text").html("3.2.2.14.非对称加密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyDecryptData(){
        $.ajax({
            url:"/RS_KeyDecryptData",
            type:"post",
            data:{

            },
            success:function(res){
                $("#text").html("3.2.2.15.非对称解密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyEncryptByDigitalEnvelope(){
        $.ajax({
            url:"/RS_KeyEncryptByDigitalEnvelope",
            type:"post",
            data:{

            },
            success:function(res){
                $("#text").html("3.2.2.16.数字信封加密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
    function KeyDecryptByDigitalEnvelope(){
        $.ajax({
            url:"/RS_KeyDecryptByDigitalEnvelope",
            type:"post",
            data:{

            },
            success:function(res){
                $("#text").html("3.2.2.17.数字信封解密接口");
                JudgeCode(res);
                $('#mymodel').modal('show')
                console.log(res);
            },
            error:function(res){
                console.log(res);
            }
        });
    }
</script>
</html>
